.stories {
  padding: 140px 0;
  position: relative;
  &::before{
    content: '';
    display: block;
    background-image: url(/img/stories-bg1.png);
    background-repeat: no-repeat;
    width: 150px;
    height: 100px;
    position: absolute;
    left: 0;
    top: 0;
    
  }
  &::after{
    content: "";
    display: block;
    background-image: url(/img/stories-bg2.png);
    background-repeat: no-repeat;
    width: 200px;
    height: 100px;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
.stories__body {
  
}
.stories__title {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: #FFFFFF;
  margin: 0 auto;
  margin-bottom: 56px;
  max-width: 932px;
  
}
.stories__span {
  color: #79C8C7;
}
.stories__list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.stories__item {
  text-align: center;
  padding-top: 36px;
  background-image: url(/img/stories“.png);
  background-repeat: no-repeat;
  background-position: center top 0;
}
.stories__text {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  margin: 0 auto;
  margin-bottom: 24px;

}
.stories__subtitile {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #79C8C7;
}
.stories__post{
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 32px;
}